body{
    margin: 0;
    padding: 0;
    font-family: "Promt", sans-serif;
}
.nav-header-main{
    background-color: rgb(30, 145, 58);
    margin: 0 auto;
    padding: 2px 2px;
    display: grid;
    grid-template-columns: 10% 40% auto;
}

.header-logo img{
    max-width: 70px;
}

.nav-header-main ul li {
    display: inline;
    list-style-type: none;
    
}

.nav-header-main ul li a{
    text-decoration: none;
    color: #eee;
    font-weight: bold;
    letter-spacing: .02em;
    
}

ul{
    margin: auto 0;
}

.list-item{
    text-transform: uppercase;
    padding: 5px;
}

.header-login{
    display: flex;
    margin: auto;
}

.header-login button{
    color: #eee;
    background-color: rgb(44, 44, 46);
    border: none;
    text-decoration: none;
    display: inline-block;
    padding: 5.5px 15px;
    border-radius: 3px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    margin: auto 2px;
}

.header-login a{
    text-decoration: none;
    font-weight: bold;
    margin: auto;
    padding: 4px 4px;
    color: #eee;
}

input[type=text], [type="password"]{
    width: 170px;
    padding: 5px 10px;
    border: 0;
    margin: auto 2px;
    border-radius: 3px;
    font-size: 15px;
}